<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fake Store</title>
</head>
<body>
<section class="card__container">
  <ng-container *ngIf="cards$ | async as cards">
    <div class="card "
         *ngFor="let card of cards"
    >
      <div class="card__view_up">
        <div class="card__setting"
             (click)="flipCard($event)"
        >
          <img src="assets/setting_icon.svg" alt="setting icon"
               class="card__setting_img"
          >
        </div>
        <div class="card__img">
          <img src="{{card.image}}" alt="product image">
        </div>
        <div class="card__content">
          <div class="card__title">{{card.title}}</div>
          <div class="card__price">
            <span class="price">{{card.price | currency:  'USD' : 'symbol' : '1.0-0'}}</span>
            <span class="price__vat">incl. VAT</span>
          </div>

        </div>
      </div>

      <div class="card__view_down card__view_hide">
        <button class="card__action go-back" (click)="flipCard($event)">&#8249;</button>

        <!-- TODO: replace with the actual icons-->
        <div class="card__action edit">
          <img src="assets/edit-icon.svg" alt="edit icon">
          <a>Edit</a>
        </div>
        <div class="card__action availability">
          <img src="assets/edit-icon.svg" alt="edit icon">
          <a>Availability</a>
        </div>
        <div class="card__action private">
          <img src="assets/edit-icon.svg" alt="edit icon">
          <a>Make private</a>
        </div>
        <div class="card__action delete">
          <img src="assets/edit-icon.svg" alt="edit icon">
          <a>Delete</a>
        </div>


      </div>
    </div>
  </ng-container>
</section>
</body>
</html>
